{
  "name": "consul-agent",
  "image": "consul:${consul_version}",
  "privileged": true,
  "essential": true,
  "memory": 128,
  "entrypoint": [
    "/bin/sh",
    "-c"
  ],
  "command": [
    "export JIP=$(wget -qO- 169.254.169.254/latest/meta-data/local-ipv4); export JNODE=$(wget -qO- 169.254.169.254/latest/meta-data/local-hostname); consul agent -data-dir=/consul/data -client 0.0.0.0 -recursor 10.100.0.2 -recursor 169.254.169.253 -advertise $JIP -node $JNODE -retry-join 'provider=aws tag_key=Name tag_value=l0-${layer0_prefix}-${aws_auto_join_tag}'"
  ],
  "dnsSearchDomains": [
    "service.consul",
    "node.consul"
  ],
  "dnsServers": [
    "172.17.0.1",
    "10.100.0.2",
    "169.254.169.253"
  ],
  "environment": [
    {
      "name": "CONSUL_SERVER_URL",
      "value": "${consul_server_url}"
    },
    {
      "name": "CONSUL_ALLOW_PRIVILEGED_PORTS",
      "value": ""
    },
    {
      "name": "UPSTREAM_DNS",
      "value": "10.100.0.2"
    }
  ],
  "portMappings": [
    {
      "containerPort": 8500,
      "hostPort": 8500
    },
    {
      "containerPort": 8300,
      "hostPort": 8300
    },
    {
      "containerPort": 8301,
      "hostPort": 8301
    },
    {
      "containerPort": 8301,
      "hostPort": 8301,
      "protocol": "udp"
    },
    {
      "containerPort": 8302,
      "hostPort": 8302
    },
    {
      "containerPort": 8302,
      "hostPort": 8302,
      "protocol": "udp"
    },
    {
      "bindIP": "172.17.0.1",
      "containerPort": 8600,
      "hostPort": 53
    },
    {
      "bindIP": "172.17.0.1",
      "containerPort": 8600,
      "hostPort": 53,
      "protocol": "udp"
    }
  ]
}
